@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebSite.cshtml";
}
 <!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('img/banner/5.html');">
    <div class="container">
        <div class="pagination-area">

            <ul>
                <li><a href="#">Home</a> -</li>
                <li>Download Brochures</li>
            </ul>
        </div>
    </div>
</div>

<!-- About Page 1 Area Start Here -->
<div class="about-page1-area">
    <div class="container">
        <div class="row about-page1-inner">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-page-content-holder">
                    <div class="content-box">
                        <h3><b>Download PFD Files</b></h3>
                        <div class="row">

                            <div class="col-md-6"><h4><b>Titles</b></h4></div>
                            <div class="col-md-6"><h4><b>Download</b></h4></div>
                            <div class="col-md-6">
                                <span><b>Product Brochure All Tranter Products </b></span>
                            </div>
                            <div class="col-md-6">
                                <a href="~/Media/form_download/Tranter catalogue - main_eLkEx.pdf" target="_blank">
                                <img src="~/Images/pdf/pdf.jpg"  class="img-responsive" width="45" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <span><b>ARH Technologies - Company Profile </b></span>
                            </div>
                            <div class="col-md-6">
                                <a href="~/Media/form_download/ARH Technologies Company profile PPT_eLkJQ.pdf"  target="_blank">
                                 <img src="~/Images/pdf/pdf.jpg" class="img-responsive" width="45" />
                                </a>
                            </div>
                            <div class="col-md-6">
                                <span><b>Enquiry form - Tranter PLATECOIL</b></span>
                            </div>
                            <div class="col-md-6">
                               <a href="~/Media/form_download/PLATECOIL enquiry form_eP0vu.pdf"  target="_blank">
                                     <img src="~/Images/pdf/pdf.jpg" class="img-responsive" width="45" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <h3><b>Download Excels Files</b></h3>
                        <div class="row">
                            <div class="col-md-6"><h4><b>Titles</b></h4></div>
                            <div class="col-md-6"><h4><b>Download</b></h4></div>
                        </div>
                        <div class="col-md-6">
                            <span><b>Excel file</b></span>
                        </div>

                        <div class="col-md-6">
                            <a href="media/form_download/excel/category_export_eAqaB.csv">
                            <img src="img/pdf/excel.png" class="img-responsive" width="45"></a>

                        </div>

                        <div class="col-md-6">
                            <span><b>enquiry form</b></span>
                        </div>

                        <div class="col-md-6">
                            <a href="media/form_download/excel/Offer for Alchem 14-058_eH757.xls"><img src="img/pdf/excel.png" class="img-responsive" width="45"></center></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Brand Area Start Here -->
<div class="brand-area" style="display:none;">
    <h2 class="title-default-center" style="margin-bottom:11px;">Our Associates</h2>
    <div class="container">

        <div class="rc-carousel"
             data-loop="true"
             data-items="4"
             data-margin="30"
             data-autoplay="true"
             data-autoplay-timeout="5000"
             data-smart-speed="2000"
             data-dots="false"
             data-nav="false"
             data-nav-speed="false"
             data-r-x-small="2"
             data-r-x-small-nav="false"
             data-r-x-small-dots="false"
             data-r-x-medium="3"
             data-r-x-medium-nav="false"
             data-r-x-medium-dots="false"
             data-r-small="4"
             data-r-small-nav="false"
             data-r-small-dots="false"
             data-r-medium="4"
             data-r-medium-nav="false"
             data-r-medium-dots="false"
             data-r-large="4"
             data-r-large-nav="false"
             data-r-large-dots="false">

            <div class="brand-area-box">
                <img src="img/association/SWEP%20Logo.jpg" alt="slider" title="#slider-direction-1" />
            </div>
            <div class="brand-area-box">
                <img src="img/association/Logo.jpg" alt="slider" title="#slider-direction-1" />
            </div>
            <div class="brand-area-box">
                <img src="img/association/Re%20sized%20logo.png" alt="slider" title="#slider-direction-1" />
            </div>
            <div class="brand-area-box">
                <img src="img/association/Logo.png" alt="slider" title="#slider-direction-1" />
            </div>

        </div>
    </div>
</div>
<!-- Brand Area End Here -->
<!-- About Page 1 Area End Here -->
<!-- Brand Area End Here -->
