
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutMSME.cshtml";
}
    
       <!-- Inner Page Banner Area Start Here -->
<div class="inner-page-banner-area" style="background-image: url('../Images/banner/5.html');">
    <div class="container">
        <div class="pagination-area">

            <ul>
                <li><a href="#">Home</a> -</li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->

<div class="about-page1-area">
    <div class="container">
        <div class="row about-page1-inner">
            <div class="col-lg-12">
                <div class="about-page-content-holder">
                   
                        <div class="content-box">
                            
                            @Html.Raw(@ViewData["About"])
                        </div>
                            @*<div class="content-box">
                <h2>
                    Who We Are
                </h2>
                <p>
                    <span style="font-size:14px;">ARH Technologies Pvt Ltd is a professionally managed company based out of NOIDA, India, established in year 2012. The team consists of engineering professionals with vast experience into the field of heat transfer &amp; related application engineering for process industry.&nbsp;</span>
                </p>
                <p>
                    <span style="font-size:14px;">We are Serving to more than 500 esteemed customers, we have sales &amp; service engineers located at Noida, Haridwar and Rudrapur to provide door step reach in Delhi NCR, West UP and Uttrakhand.</span>
                </p>
                <p>
                    <span style="font-size:14px;">ARH is proud to be associated with world class companies and leading global brands in their respective fields providing high class engineering products and services.</span>
                </p>
                <p>
                    &nbsp;
                </p>
                <div class="content-box">
                    <h2>
                        What We Do&nbsp;<img alt="" src="../Images/0.jpg" style="width: 350px; height: 272px; float: right;" />
                    </h2>
                    <p>
                        <span style="font-size:14px;">ARH offers one stop engineering solutions for various process industries offering high quality products from world leading companies &ndash;</span>
                    </p>
                    <ul>
                        <li>
                            <span style="font-size:14px;">Gasketed, Welded Plate heat exchangers &amp; PLATECOIL from TRANTER</span>
                        </li>
                        <li>
                            <span style="font-size:14px;">Industrial centrifugal Pumps from GRUNDFOS</span>
                        </li>
                        <li>
                            <span style="font-size:14px;">Industrial Chillers, Cold Rooms &amp; Panel Air-conditioners from WERNER FINELY</span>
                        </li>
                        <li>
                            <span style="font-size:14px;">Brazed Plate heat exchangers from SWEP</span>
                        </li>
                        <li>
                            <span style="font-size:14px;">Other products offering include Planetary Gear Box from Dinamic Oil, CPVC / UPVC / PVC Pipe and Fitting from Surya.&nbsp;</span>
                        </li>
                    </ul>
                </div>
            </div>*@
                            

                </div>
            </div>

        </div>
    </div>
</div>