@{
    ViewBag.Title = "AddEditBuyerProduct";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}

@section UserMenu{
    <li>
        <a href="../Dashboard/BuyerDashboard">Dashboard</a>
    </li>
    <li>
        <a href="../UserRegister/EditProfile">Your Profile</a>
    </li>
    @*<li>
            <a href="../BuyerProduct/BuyerFavouriteProduct">Favourite Items</a>
        </li>*@
    <li>
        <a href="../KnowledgeCenter">Knowledge Center</a>
    </li>
    <li>
        <a href="../BuyerProduct/AddEditBuyerProduct">Add Product</a>
    </li>
    <li>
        <a href="../UserLogin/SignOut">Logout</a>
    </li>
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.1.min.js"></script>
<style>
    .Mandatory {
        color: red;
        font-weight: bold;
    }
    /*** custom checkboxes ***/

    input[type=checkbox] {
        display: none;
    }
        /* to hide the checkbox itself */
        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
        }

        input[type=checkbox] + label:before {
            content: "\f096";
        }
        /* unchecked icon */
        input[type=checkbox] + label:before {
            letter-spacing: 10px;
        }
        /* space between checkbox and label */

        input[type=checkbox]:checked + label:before {
            content: "\f046";
        }
        /* checked icon */
        input[type=checkbox]:checked + label:before {
            letter-spacing: 5px;
        }
    /* allow space for check mark */
</style>
<br />
<h4 class="main_head_cate blue" style="background:#9B0214; padding:10px; color:#fff;">Add Product</h4>

<div class="creative_tabs ">
    <div class="creative_tabs_container">
        <div class="Your_Profile_div">
            <form>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label>Parent Class&nbsp;<span class="Mandatory">(*)</span></label>
                        <select id="ddlProductMainGroup" name="ddlProductMainGroup" onchange="BindProductSubGroupList(this)" tabindex="4" class="form-control category-1"></select>
                    </div>
                </div>
                <div class="row">
                    <div class=" form-group">
                        <div class="col-md-5">
                            <label>Category&nbsp;<span class="Mandatory">(*)</span></label>
                            <select id="ddlProductSubGroup" name="ddlProductSubGroup" onchange="BindProductSubChildGroupList(this)" tabindex="4" class="form-control category-2"></select>
                        </div>
                        <div class="col-md-1">
                            <label style="visibility: hidden;">Add :</label>
                            <img src="~/Images/add.png" style="height:25px;margin-top:6px; cursor:pointer;" class="add-product-icon" onclick="ShowAddProductCategory();" />
                        </div>
                        <div class="col-md-5">
                            <label>Sub Category&nbsp;<span class="Mandatory">(*)</span></label>
                            <select id="ddlProductSubChildGroup" name="ddlProductSubChildGroup" tabindex="4" class="form-control category-3" onchange="LoadFilteredBuyerProducts()"></select>
                        </div>
                        <div class="col-md-1">
                            <label style="visibility: hidden;">Add :</label>
                            <img src="~/Images/add.png" style="height:25px;margin-top:6px; cursor:pointer;" class="add-product-icon" onclick="ShowAddProductSubChildGroup();" />
                        </div>
                    </div>

                </div>
                @*<div class="row">
                        <div class="spec-row">
                            <div class="col-md-4 form-group">
                                <label>Name of Specification </label>
                                <select onchange="BindSpecValues(this)" tabindex="4" class="form-control ddl-spec-name"></select>


                            </div>
                            <div class="col-md-4 form-group">
                                <label>Specification value </label>
                                <select tabindex="4" class="form-control ddl-spec-value"></select>


                            </div>
                            <div class="col-md-3 form-group">
                                <label>UOM </label>
                                <select id="ddlUOM" name="ddlUOM" class="form-control uom-list ddl-spec-uom"></select>
                            </div>
                            <div class="col-md-1">
                                <img src="~/Images/remove.png" style="height:25px;margin-top:5px; margin-left: 20px; cursor:pointer;display:none;" class="remove-product-icon" onclick="RemoveAddNewSpec(this);" title="Remove specification" />
                            </div>
                        </div>

                        <div>
                            <button type="button" id="btnAddSpecRoe" onclick="AddSpecRow(this)" class="btn btn-default" style="margin:-5px 0 10px 30px;">Add More Specification(s)</button>
                            <img src="~/Images/add.png" style="height:25px;margin-top:-15px; margin-left: 20px; cursor:pointer;" class="add-product-icon" onclick="OpenAddNewSpec(this);" title="Create new specification" />

                        </div>
                    </div>*@
                <br />
          
                <div class="row">
                    <div class="spec-row">
                        <div class="col-md-4 form-group">
                            <label>Name of Specification </label>
                            <img src="~/Images/add.png" id="addsepec"  style="height:25px;margin-top:-5px; margin-left: 20px; cursor:pointer;" class="add-product-icon" onclick="OpenAddNewSpec(this);" title="Create new specification" />

                            @*<select onchange="BindSpecValues(this)" tabindex="4" class="form-control ddl-spec-name"></select>*@
                            <select tabindex="4" class="form-control ddl-spec-name" onchange="CheckUOM_SUM_List(this)"></select>

                        </div>
                        <div class="col-md-4 form-group">
                            <label>Specification value </label>
                            @*<select tabindex="4" class="form-control ddl-spec-value"></select>*@
                            <input type="text" id="txtSpecificationValue" name="txtSpecificationValue" class="form-control" placeholder="Specification value">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Specification Unit (SUM)  </label>
                            @* <select id="ddlUOM" name="ddlUOM" class="form-control uom-list ddl-spec-uom"></select>*@
                            <input type="text" id="txtUOMName" name="txtUOMName" class="form-control uom-list ddl-spec-uom" placeholder="Search SUM">
                            <input type="hidden" id="hdnUOMId" name="hdnUOMId" class="hdn-spec-uom" value="0" />
                        </div>
                        <div class="col-md-1">
                            <img src="~/Images/remove.png" style="height:25px;margin-top:5px; margin-left: 20px; cursor:pointer;display:none;" class="remove-product-icon" onclick="RemoveAddNewSpec(this);" title="Remove specification" />
                        </div>
                    </div>

                    <div>
                        <button type="button" id="btnAddSpecRoe" onclick="AddSpecRow(this)" class="btn btn-default" style="margin:-5px 0 10px 30px;">Add More Specification(s)</button>

                    </div>
                </div>

                <div class="brand-row">
                    <div class="col-md-4 form-group">
                        <label>Brand/Manufacturer</label>
                        @*<input type="text" name="txtBrand" id="txtBrandName" class="form-control" placeholder="Brand/Manufacturer">*@
                        <select id="txtBrandName" name="txtBrandName" class="form-control Brand-list ddl-spec-brand"></select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label></label>
                        <img src="~/Images/add.png" style="height:25px;margin-top:26px; cursor:pointer;" class="add-product-icon" onclick="ShowAddProductBrand();" />
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Item Code</label>
                        @*<input type="text" id="txtItemCode" name="txtItemCode" class="form-control" placeholder="Item Code">*@
                        <select id="txtItemCode" name="txtItemCode" class="form-control Item-list ddl-spec-itemCode"></select>
                    </div>
                    <div class="col-md-2 form-group">
                        <img src="~/Images/add.png" style="height:25px;margin-top:26px; cursor:pointer;" class="add-product-icon" onclick="ShowAddProductItem();" />
                    </div>
                </div>

                <div>
                    <div class="col-md-4 form-group">
                        <label>Traded Unit (TUM) : &nbsp;<span class="Mandatory">(*)</span></label>
                        <select id="ddlProductUOM" name="ddlProductUOM" class="form-control uom-list ddl-product-uom"></select>
                      
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10 form-group">
                        <label>Product Name </label>
                        <input type="text" id="txtProductName" name="txtProductName" class="form-control" placeholder="Product Name" disabled>
                        <input type="hidden" id="hdnProductId" name="hdnProductId" value="0" />
                    </div>
                    <div class="col-md-1 form-group" style="display:none;">
                        <label style="visibility: hidden;">Add :</label>
                        <img src="~/Images/add.png" style="height:25px;margin-top:6px; cursor:pointer;" class="add-product-icon" onclick="ShowAddProductToSeller();" />
                    </div>
                </div>

                <a onclick="SaveBuyerProduct()" class="btn btn-default">Save</a>
                <button type="submit" class="btn btn-default">Reset</button>
                <!-- Modal -->
                <div class="modal fade" id="alertModel" role="dialog">
                    <div class="modal-dialog  modal-sm">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modelHeader"></h4>
                            </div>
                            <div class="modal-body">
                                <p id="modelText"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="list_product">
            <table class="table">
                <thead>
                    <tr style="color:#fff!important;">
                        <th>Product Name</th>
                        <th>Specification</th>
                        <th>Value</th>
                        <th>UOM</th>
                        <th>Brand</th>
                        <th>Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7" style="text-align:center;">
                            No records found
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade Book" id="AddNewVendor" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Product</h4>
                    </div>
                    <div class="add-product" style="margin:10px 22px 10px 22px;">
                        <form>
                            <div class="row hide">
                                <div class="col-md-12 form-group">
                                    <label>Parent Class(C1)&nbsp;<span class="Mandatory">(*)</span></label>
                                    <input type="text" disabled class="form-control category-1-txt" />
                                </div>
                            </div>
                            <div class="row hide">
                                <div class="col-md-6 form-group">
                                    <label>Category(C2)&nbsp;<span class="Mandatory">(*)</span></label>
                                    <input type="text" disabled class="form-control category-2-txt" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Category(C3)&nbsp;<span class="Mandatory">(*)</span></label>
                                    <input type="text" disabled class="form-control category-3-txt" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Product Name&nbsp;<span class="Mandatory">(*) </span></label>
                                    <input type="text" id="txtProductNameNew" name="txtProductNameNew" class="form-control product-name" placeholder="Enter Product Name">
                                    <input type="hidden" id="hdnProductIdNew" name="hdnProductIdNew" value="0" />
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Product Code &nbsp;<span class="Mandatory">(*) </span></label>
                                    <input type="text" id="txtProductCodeNew" name="txtProductCodeNew" class="form-control  product-name" placeholder="Enter Product Code">
                                    <input type="hidden" id="hdnProductCodedNew" name="hdnProductCodedNew" value="0" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Name of Specification (A1.1))&nbsp;<span class="Mandatory">(*) </span></label>
                                    <input type="text" id="txtSpecificationNameNew" name="txtSpecificationNameNew" class="form-control" placeholder="Name of Specification">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Specification value (A1.2):&nbsp;<span class="Mandatory">(*) </span></label>
                                    <input type="text" id="txtSpecificationValueNew" name="txtSpecificationValueNew" class="form-control" placeholder="Specification Value">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>UOM(A1.3))&nbsp;<span class="Mandatory">(*) </span></label>
                                    <select id="ddlUOMNew" name="ddlUOMNew" class="form-control uom-list"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Brand/Manufacturer(A2) :</label>
                                    <input type="text" name="txtBrandNew" id="txtBrandNameNew" class="form-control" placeholder="Brand/Manufacturer">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Item Code(A3)&nbsp;<span class="Mandatory">(*) </span></label>
                                    <input type="text" id="txtProductCodeNew" name="txtProductCodeNew" class="form-control  product-name" placeholder="Enter Product Code">
                                    <input type="hidden" id="hdnProductCodedNew" name="hdnProductCodedNew" value="0" />
                                </div>

                            </div>
                            <a onclick="SaveNewProduct()" class="btn btn-default btn-add-producat">Save</a>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade Book" id="AddCategory" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Category</h4>
                    </div>
                    <div class="">
                        @{Html.RenderPartial("_ProductCategoryPartial");}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="display:none;">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade Book" id="AddSubCategory" role="dialog" style="">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Sub Category</h4>
                    </div>
                    <div class="">
                        @{Html.RenderPartial("_ProductSubCategoryPartial");}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="display:none;">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade Book" id="AddSpecModal" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Specification</h4>
                    </div>
                    <div class="">
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-12 form-group">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Name of Specification :</label>
                                    <input id="txtSpecName" class="form-control " />
                                </div>
                                <div class="col-md-12 form-group hide">
                                    <label>Specification value :</label>
                                    <input id="txtSpecValue" class="form-control " />
                                </div>
                                <div class="col-md-12 form-group hide">
                                    <label>UOM </label>
                                    <select id="ddlUOMCreate" name="ddlUOMCreate" class="form-control uom-list"></select>
                                </div>
                            </div>
                            <div style="text-align:center;" class="form-group">
                                <button class="btn btn-add-producat" onclick="CreateNewSpec()">Save</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="form-group spec-message alert-success" style="text-align:center;">
                                Specification added successfully
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--creative_tabs_container-->



        <div class="modal fade Book" id="AddNewBrandModal" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content" style="width: 60%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Brand</h4>
                    </div>
                    <div class="">
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-12 form-group">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Brand :</label>
                                    <input id="txtbrandName" class="form-control " />
                                </div>
                            </div>
                            <div style="text-align:center;" class="form-group">
                                <button class="btn btn-add-producat" onclick="CreateNewProductBrand()">Save</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="form-group spec-message alert-success" style="text-align:center;">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="modal fade Book" id="AddNewProductItemModal" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content" style="width: 60%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Item</h4>
                    </div>
                    <div class="">
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-12 form-group">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Item Code :</label>
                                    <input id="txtProductItem" class="form-control " />
                                </div>
                            </div>
                            <div style="text-align:center;" class="form-group">
                                <button class="btn btn-add-producat" onclick="CreateNewProductItem()">Save</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="form-group spec-message alert-success" style="text-align:center;">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/paging.js"></script>

    <script src="~/Scripts/Product/AddBuyerProduct.js"></script>
    <script src="~/Scripts/Dashboard/SaleDashboard.js"></script>
    <script>
        $(document).ready(function () {

            LoadAllBuyerProducts();

        });
    </script>
