@model List<Portal.Core.ViewModel.GSTPercentViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblGSTList">
            <thead style="background:rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0; color:#fff;">
                <tr>
                    <th>GST Percentage</th>
                    <th>Status</th>
                    <th align="center">Action</th>
                </tr>
            </thead>
            <tbody style="background:#dff0d8;">
                @foreach (var item in Model)
                {
                    <tr class="success" style="border-bottom:1px solid #ddd;">
                        <td>@item.GSTPercentageName</td>
                        <td>@(item.GSTPercentageStatus == true ? "Active" : "Inactive")</td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:7px auto;">
                            <a style="color:white" class="fa fa-trash" aria-hidden="true" href="javascript:void(0)" onclick="RemoveGSTPercent(@item.GSTPercentageID)" title="GST Percentage"></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblGSTList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>